*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* 
_________________________________________________________
   HEADER
_________________________________________________________
*/
header {
    height: 10%;
    padding-left: 10px;
    padding-top: 10px;
}

#LogoName {
    display: inline-block;
    vertical-align: middle;
}

#LogoImg {
    vertical-align: middle;
}
/* 
_________________________________________________________
   MAIN
_________________________________________________________
*/

main {
    background-color: f6f8f9;
}

.Container  {
    background-color: white;
    max-width: 1000px;
    width: 80%;
    margin: 50px auto;
}

.ButtonsBox {
    margin-bottom: 1px;
    padding-top: 10px;
    padding-left: 50px;
}

button {
    margin: 3px;
    padding: 4px 8px;
    font-size: 16px;
    border-radius: 3px;
}

#TaskButton {
    background-color: #47ADF1;
    color: white;
    border:1px solid #47ADF1;
}

#SectionButton {
    border: 1px solid #C8CED3;
    color: #C8CED3;
}

.Checklist{
    padding-top: 20px;
    padding-left: 50px;
    font-size: 18px;
}

section h2::before {
    content: '▼  ';
}

li {
    vertical-align: middle;
}

.Checked { 
    display: inline-block;
    border: 1px solid green;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    color: green;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
}

.Unchecked {
    display: inline-block;
    border: 1px solid red;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    color: red;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
}

.tag {
    display: inline-block;
    height: 20px;
    border-radius: 20px;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
    color: white;
}

.editorial {
    background-color: #45ABEA;
}

.q1goals {
    background-color: #9C72E4;
}

.recruiting  {
    background-color: #65C1AA;
}

.mobile {
    background-color: #F29E33;
}

.website {
    background-color: #D863A1;
}

.sales  {
    background-color: #B0C926;
}