*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

body {
    background-color: #f6f8f9;
}
/* 
_________________________________________________________
   HEADER
_________________________________________________________
*/
header {
    height: 10%;
    padding: 10px 20px;
    background-color: white;
}

#LogoName {

    display: inline-block;
    vertical-align: middle;
}

#LogoImg {

    vertical-align: middle;
}
/* 
_________________________________________________________
   MAIN
_________________________________________________________
*/

.container  {
    background-color: white;
    max-width: 1000px;
    width: 80%;
    height: fit-content;
    margin: 50px auto;
    padding-bottom: 20px;
    padding-top: 10px;
    border-radius: 10px;
}

#buttonsbox {
    background-color: white;
    height: fit-content;
    padding: 10px 50px;
    border-bottom: 3px solid #f6f8f9;
}

button {
    margin: 3px;
    padding: 4px 8px;
    font-size: 16px;
    border-radius: 3px;
}

#TaskButton {
    background-color: #47ADF1;
    color: white;
    border:1px solid #47ADF1;
}

#SectionButton {
    border: 1px solid #C8CED3;
    color: #C8CED3;
}


.Checklist{
    padding-top: 20px;
    padding-left: 50px;
    font-size: 18px;
}

section {
    margin-top: 10px;
    margin-bottom: 10px;
}

section h2::before {
    content: '\25BC   ';
}

.Checked { 
    display: inline-block;
    border: 1px solid green;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    color: green;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
    margin-right: 10px;
}

.Unchecked {
    display: inline-block;
    border: 1px solid red;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    color: red;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
    margin-right: 10px;
}

li {
    margin: 10px ;

}
.tag {
    display: inline-block;
    height: 25px;
    border-radius: 15px;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
    color: white;
    padding: 5px 10px;
    margin-left: 10px;
}

.editorial {
    background-color: #45ABEA;
}

.q1goals {
    background-color: #9C72E4;
}

.recruiting  {
    background-color: #65C1AA;
}

.mobile {
    background-color: #F29E33;
}

.website {
    background-color: #D863A1;
}

.sales  {
    background-color: #B0C926;
}